
body{
  font-family: 'Montserrat', sans-serif;
  background-color: #e8faff;
}

.heading{
  text-align: center;
}
table {
  width: 100%;
  /* border-collapse: collapse; */
  overflow-x: scroll;
  border-spacing: 0;
  text-align: center;
}

thead {
  background-color: rgb(39, 39, 39);
  color: whitesmoke;
}

th, td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: center;
}

/* Alternate row background color */
tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Responsive table styles */
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    display: none;
  }

  table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  table td {
    display: block;
    text-align: right;
    font-size: 13px;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}


.filter-container {
  display: flex;
  margin-bottom: 20px;
}

.search-input {
  flex: 1;
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 150px;
}

.rows-dropdown {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Loader CSS and animations */
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.spinner::after {
  content: '';
  width: 10px;
  height: 10px;
  margin: -5px 0 0 -5px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #333;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
